{% extends '_base.html' %}
{% load static %}
{% block contents %}
<!-- store products -->
<div class="row">

    <!-- product -->
    {% for product in products %}
        <div class="product category-{{ product.category.id }} brand-{{ product.brand.id }} warranty-{{ product.warranty.id }} seller-{{ product.seller.id }}">
            <div class="col-md-4 col-xs-6">
            <div class="product-img">
                <img src="{% static 'img/product01.png' %}" alt="">
                <div class="product-label">
                    <span class="new">{{ product.brand }}</span>
                </div>
            </div>
            <div class="product-body">
                <p class="product-category">{{ product.category }}</p>
                <h3 class="product-name"><a href="#">{{ product.name }}</a></h3>
                <h4 class="product-price">{{ product.price }} </h4>
                <div class="product-rating">{{ product.warranty }}</div>
                <div class="product-btns">
                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                </div>
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- /product -->

</div>
<!-- /store products -->
{% endblock %}
